<app-modal-wrapper #updateZoningInformationModalWrapper [size]="'modal-xl'" title="Cập nhật mới thông tin đất" (hideEvent)="onHideEvent()">
  <form #updateZoningInformationForm="ngForm" novalidate (submit)="onSave()">
    <div class="modal-body">
      <div class="row">
        <!--    Owner start    -->
        <div class="col-sm-4 form-group">
          <label for="descriptionInputUpdate">Tên chủ hộ</label>
          <input type="text" class="form-control" name="descriptionInputUpdate" id="descriptionInputUpdate" #descriptionInputUpdate="ngModel"
                 [(ngModel)]="updatingZoningInformation.ownerName" placeholder="Tên chủ hộ"
                 [class]="{'is-invalid': descriptionInputUpdate.touched && descriptionInputUpdate.errors}" required/>
          <ng-template [ngIf]="descriptionInputUpdate.touched && descriptionInputUpdate.invalid">
            <div *ngIf="descriptionInputUpdate.errors?.required" class="invalid-feedback d-block">
              Vui lòng nhập tên chủ hộ
            </div>
          </ng-template>
        </div>
        <div class="col-6 col-sm-4 form-group">
          <label for="cardIdInputUpdate">Chứng minh thư</label>
          <input type="text" class="form-control" name="cardIdInputUpdate" id="cardIdInputUpdate" #cardIdInputUpdate="ngModel"
                 minlength="9" [pattern]="cardIdPattern" [(ngModel)]="updatingZoningInformation.ownerCardId" placeholder="Chứng minh thư"
                 [class]="{'is-invalid': cardIdInputUpdate.touched && cardIdInputUpdate.errors}" required/>
          <ng-template [ngIf]="cardIdInputUpdate.touched && cardIdInputUpdate.invalid">
            <div *ngIf="cardIdInputUpdate.errors?.required" class="invalid-feedback d-block">
              Vui lòng nhập CMT/CCCD
            </div>
            <div *ngIf="cardIdInputUpdate.errors?.minlength || cardIdInputUpdate.errors?.pattern" class="invalid-feedback d-block">
              CMT/CCCD không hợp lệ
            </div>
          </ng-template>
        </div>
        <div class="col-6 col-sm-4 form-group">
          <label>Ngày sinh</label>
          <app-date-picker [(startDate)]="updatingZoningInformation.ownerBirthDate" parentEl="{{updateZoningInformationModalWrapper.id}}" ></app-date-picker>
        </div>
        <div class="col-sm-8 form-group">
          <label for="addressInputUpdate">Địa chỉ liên lạc</label>
          <input type="text" class="form-control" name="addressInputUpdate" id="addressInputUpdate" #addressInputUpdate="ngModel"
                 [(ngModel)]="updatingZoningInformation.ownerAddress" placeholder="Địa chỉ đất"
                 [class]="{'is-invalid': addressInputUpdate.touched && addressInputUpdate.errors}" required/>
          <ng-template [ngIf]="addressInputUpdate.touched && addressInputUpdate.invalid">
            <div *ngIf="addressInputUpdate.errors?.required" class="invalid-feedback d-block">
              Vui lòng nhập địa chỉ liên lạc
            </div>
          </ng-template>
        </div>
        <div class="col-sm-4 form-group">
          <label for="phoneInputUpdate">Số liên lạc</label>
          <input type="text" class="form-control" name="phoneInputUpdate" id="phoneInputUpdate" #phoneInputUpdate="ngModel"
                 minlength="10" [pattern]="phonePattern" [(ngModel)]="updatingZoningInformation.phoneNumber" placeholder="Số liên lạc"
                 [class]="{'is-invalid': phoneInputUpdate.touched && phoneInputUpdate.errors}" required/>
          <ng-template [ngIf]="phoneInputUpdate.touched && phoneInputUpdate.invalid">
            <div *ngIf="phoneInputUpdate.errors?.required" class="invalid-feedback d-block">
              Vui lòng nhập số liên lạc
            </div>
            <div *ngIf="phoneInputUpdate.errors?.minlength || phoneInputUpdate.errors?.pattern" class="invalid-feedback d-block">
              Số liên lạc không hợp lệ
            </div>
          </ng-template>
        </div>
        <!--    Owner end    -->
        <div class="col-12">
          <hr>
        </div>
        <!--    Zone start    -->
        <div class="col-6 col-sm-2 form-group">
          <label for="sheetInputUpdate">Số tờ</label>
          <input type="number" class="form-control adi-none-appearance" name="sheetInputUpdate" id="sheetInputUpdate" #sheetInputUpdate="ngModel"
                 [(ngModel)]="updatingZoningInformation.sheet" placeholder="Số tờ"
                 [class]="{'is-invalid': sheetInputUpdate.touched && sheetInputUpdate.errors}" required/>
          <ng-template [ngIf]="sheetInputUpdate.touched && sheetInputUpdate.invalid">
            <div *ngIf="sheetInputUpdate.errors?.required" class="invalid-feedback d-block">
              Vui lòng nhập số tờ
            </div>
          </ng-template>
        </div>
        <div class="col-6 col-sm-2 form-group">
          <label for="parcelInputUpdate">Số thửa</label>
          <input type="number" class="form-control adi-none-appearance" name="parcelInputUpdate" id="parcelInputUpdate" #parcelInputUpdate="ngModel"
                 [(ngModel)]="updatingZoningInformation.parcel" placeholder="Số thửa"
                 [class]="{'is-invalid': parcelInputUpdate.touched && parcelInputUpdate.errors}" required/>
          <ng-template [ngIf]="parcelInputUpdate.touched && parcelInputUpdate.invalid">
            <div *ngIf="parcelInputUpdate.errors?.required" class="invalid-feedback d-block">
              Vui lòng nhập số thửa
            </div>
          </ng-template>
        </div>
        <div class="col-12 col-sm-5 form-group">
          <label for="addressZoneInputUpdate">Địa chỉ lô đất</label>
          <input type="text" class="form-control" name="addressZoneInputUpdate" id="addressZoneInputUpdate" #addressZoneInputUpdate="ngModel"
                 [(ngModel)]="updatingZoningInformation.address" placeholder="Địa chỉ lô đất"
                 [class]="{'is-invalid': addressZoneInputUpdate.touched && addressZoneInputUpdate.errors}" required/>
          <ng-template [ngIf]="addressZoneInputUpdate.touched && addressZoneInputUpdate.invalid">
            <div *ngIf="addressZoneInputUpdate.errors?.required" class="invalid-feedback d-block">
              Vui lòng nhập địa chỉ lô đất
            </div>
          </ng-template>
        </div>
        <div class="col-12 col-sm-3 form-group">
          <label for="wardSelectUpdate">Phường/Xã</label>
          <select name="wardSelectUpdate" id="wardSelectUpdate" class="custom-select" #wardSelectUpdate="ngModel"
                  [(ngModel)]="updatingZoningInformation.ward.id" required
                  [class]="{'is-invalid': wardSelectUpdate.touched && wardSelectUpdate.value === 0}">
            <option value="0" disabled>Chọn phường/xã</option>
            <option *ngFor="let ward of wards" [value]="ward.id">
              {{ward.name}}
            </option>
          </select>
          <ng-template [ngIf]="wardSelectUpdate.touched">
            <div *ngIf="wardSelectUpdate.value === 0" class="invalid-feedback d-block">
              Vui lòng chọn phường/xã
            </div>
          </ng-template>
        </div>
        <!--    Zone end    -->
        <!--    Certificate start    -->
        <div class="col-lg-3 form-group">
          <label for="certificateSelectUpdate">Giấy chứng nhận</label>
          <select name="certificateSelectUpdate" id="certificateSelectUpdate" class="custom-select" #certificateSelectUpdate="ngModel"
                  [(ngModel)]="updatingZoningInformation.certificate.id" required
                  [class]="{'is-invalid': certificateSelectUpdate.touched && certificateSelectUpdate.value === 0}">
            <option value="0" disabled>Chọn giấy chứng nhận</option>
            <option *ngFor="let certificate of certificates" [value]="certificate.id">
              {{certificate.name}}
            </option>
          </select>
          <ng-template [ngIf]="certificateSelectUpdate.touched">
            <div *ngIf="certificateSelectUpdate.value === 0" class="invalid-feedback d-block">
              Vui lòng chọn giấy chứng nhận
            </div>
          </ng-template>
        </div>
        <div class="col-6 col-lg-3 form-group">
          <label for="certificateNumberInputUpdate">Số chứng nhận</label>
          <input type="number" class="form-control adi-none-appearance" name="certificateNumberInputUpdate" id="certificateNumberInputUpdate" #certificateNumberInputUpdate="ngModel"
                 [(ngModel)]="updatingZoningInformation.certificateNumber" placeholder="Số chứng nhận"
                 [class]="{'is-invalid': certificateNumberInputUpdate.touched && certificateNumberInputUpdate.errors}" required/>
          <ng-template [ngIf]="certificateNumberInputUpdate.touched && certificateNumberInputUpdate.invalid">
            <div *ngIf="certificateNumberInputUpdate.errors?.required" class="invalid-feedback d-block">
              Vui lòng nhập số chứng nhận
            </div>
          </ng-template>
        </div>
        <div class="col-6 col-lg-3 form-group">
          <label>Ngày cấp</label>
          <app-date-picker [(startDate)]="updatingZoningInformation.certificateDate" parentEl="{{updateZoningInformationModalWrapper.id}}" ></app-date-picker>
        </div>
        <div class="col-sm-6 col-lg-3 form-group">
          <label for="certificateProviderInputUpdate">Nơi cấp</label>
          <input type="text" class="form-control" name="certificateProviderInputUpdate" id="certificateProviderInputUpdate" #certificateProviderInputUpdate="ngModel"
                 [(ngModel)]="updatingZoningInformation.certificateProvider" placeholder="Nơi cấp"
                 [class]="{'is-invalid': certificateProviderInputUpdate.touched && certificateProviderInputUpdate.errors}" required/>
          <ng-template [ngIf]="certificateProviderInputUpdate.touched && certificateProviderInputUpdate.invalid">
            <div *ngIf="certificateProviderInputUpdate.errors?.required" class="invalid-feedback d-block">
              Vui lòng nhập nơi cấp
            </div>
          </ng-template>
        </div>
        <!--    Certificate end    -->
        <!--    Drawing start    -->
        <div class="col-sm-6 col-lg-3 form-group">
          <label for="drawingTypeSelectUpdate">Loại bản vẽ</label>
          <select name="drawingTypeSelectUpdate" id="drawingTypeSelectUpdate" class="custom-select" #drawingTypeSelectUpdate="ngModel"
                  [(ngModel)]="updatingZoningInformation.drawingType.id" required
                  [class]="{'is-invalid': drawingTypeSelectUpdate.touched && drawingTypeSelectUpdate.value === 0}">
            <option value="0" disabled>Chọn loại bản vẽ</option>
            <option *ngFor="let drawingType of drawingTypes" [value]="drawingType.id">
              {{drawingType.name}}
            </option>
          </select>
          <ng-template [ngIf]="drawingTypeSelectUpdate.touched">
            <div *ngIf="drawingTypeSelectUpdate.value === 0" class="invalid-feedback d-block">
              Vui lòng chọn loại bản vẽ
            </div>
          </ng-template>
        </div>
        <div class="col-4 col-lg-3 form-group">
          <label for="drawingNumberInputUpdate">Số bản vẽ</label>
          <input type="number" class="form-control adi-none-appearance" name="drawingNumberInputUpdate" id="drawingNumberInputUpdate" #drawingNumberInputUpdate="ngModel"
                 [(ngModel)]="updatingZoningInformation.drawingNumber" placeholder="Số bản vẽ"
                 [class]="{'is-invalid': drawingNumberInputUpdate.touched && drawingNumberInputUpdate.errors}" required/>
          <ng-template [ngIf]="drawingNumberInputUpdate.touched && drawingNumberInputUpdate.invalid">
            <div *ngIf="drawingNumberInputUpdate.errors?.required" class="invalid-feedback d-block">
              Vui lòng nhập số bản vẽ
            </div>
          </ng-template>
        </div>
        <div class="col-4 col-lg-3 form-group">
          <label for="drawingUnitInputUpdate">Đơn vị</label>
          <input type="text" class="form-control" name="drawingUnitInputUpdate" id="drawingUnitInputUpdate" #drawingUnitInputUpdate="ngModel"
                 [(ngModel)]="updatingZoningInformation.drawingUnit" placeholder="Đơn vị"
                 [class]="{'is-invalid': drawingUnitInputUpdate.touched && drawingUnitInputUpdate.errors}" required/>
          <ng-template [ngIf]="drawingUnitInputUpdate.touched && drawingUnitInputUpdate.invalid">
            <div *ngIf="drawingUnitInputUpdate.errors?.required" class="invalid-feedback d-block">
              Vui lòng nhập đơn vị
            </div>
          </ng-template>
        </div>
        <div class="col-4 col-lg-3 form-group">
          <label>Ngày cấp</label>
          <app-date-picker [(startDate)]="updatingZoningInformation.drawingDate" parentEl="{{updateZoningInformationModalWrapper.id}}" ></app-date-picker>
        </div>
        <!--    Drawing end    -->
      </div>
      <div class="row justify-content-center">
        <h1 class="text-dark h4">Danh sách tọa độ</h1>
      </div>
      <div class="d-block adi-coordinate-list-wrapper">
        <div class="row justify-content-center" *ngFor="let coordinate of updatingZoningInformation.informationCoordinates; index as index; last as last">
          <div class="form-group mb-1 col-9 col-sm-11 row">
            <div class="col-sm-2">
              <label class="col-form-label float-sm-right">Tọa độ {{index + 1}}: </label>
            </div>
            <div class="col-sm-4 mb-1">
              <input name="coordinateX-{{coordinate.id}}" type="number" class="form-control adi-none-appearance" placeholder="1196639.09"
                     [(ngModel)]="coordinate.xcoordinate" required>
            </div>
            <div class="col-sm-4 mb-1">
              <input name="coordinateY-{{coordinate.id}}" type="number" class="form-control adi-none-appearance" placeholder="595767.08"
                     [(ngModel)]="coordinate.ycoordinate" required>
            </div>
            <div class="col-sm-2 col-lg-1">
              <ng-template [ngIf]="last === true" [ngIfElse]="cancelling">
                <button class="btn btn-success form-control" (click)="addCoordinate()">
                  <i class="fas fa-plus"></i>
                </button>
              </ng-template>
              <ng-template #cancelling>
                <button class="btn btn-danger form-control" (click)="removeCoordinate(coordinate.id)">
                  <i class="fas fa-times"></i>
                </button>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="invalid-feedback d-block text-center">
        Lưu ý: Đỉnh đầu và đỉnh cuối phải khớp nhau
      </div>
      <div class="row justify-content-center">
        <hr class="col">
        <div class="col-12 text-center">
          <h2 class="m-0">Kết quả tra cứu</h2>
        </div>
        <div class="col-sm-8">
          <app-data-table [showPaging]="false" [showDetail]="false" [showEntries]="false" [dataOnly]="true">
            <thead>
            <tr>
              <th>Loại quy hoạch</th>
              <th>Diện tích</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let zoningBase of updatingZoningInformation.zoningInformationDetails">
              <td>{{zoningBase.zoningType.name}}</td>
              <td>{{zoningBase.area}} m<sup>2</sup></td>
            </tr>
            </tbody>
          </app-data-table>
        </div>
      </div>
    </div>
    <div class="modal-footer justify-content-between flex-column-reverse flex-sm-row">
      <div>
        <button (click)="hide()" type="button" class="btn btn-default">
          <i class="fas fa-times mr-1"></i>
          Đóng
        </button>
      </div>
      <div>
        <label for="upload-coordinate-update" class="btn btn-info mb-0 mr-1">
          <i class="fas fa-upload mr-1"></i>
          Tải tọa độ
        </label>
        <input type="file" name="upload-coordinate-update" id="upload-coordinate-update" #uploadCoordinateUpdateInput (change)="uploadCoordinate($event)" hidden />
        <button type="submit" class="btn btn-primary" [disabled]="!isValid()">
          <i class="far fa-save mr-1"></i>
          Lưu
        </button>
      </div>
    </div>
  </form>
</app-modal-wrapper>
