<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12 col-lg-6 mb-2">
        <h1 class="m-0 font-weight-bold text-gray-dark">TRA CỨU THÔNG TIN QUY HOẠCH</h1>
      </div>
      <div class="col-12 col-lg-6">
        <ol class="breadcrumb float-lg-right">
          <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
          <li class="breadcrumb-item active">Tra cứu thông tin</li>
        </ol>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <form #zoningSearchForm="ngForm" id="zoningSearchForm" novalidate (submit)="onSave()">
              <div class="row">
                <!--    Zone start    -->
                <div class="col-6 col-md-2 form-group">
                  <label for="sheetInputAdd">Số tờ</label>
                  <input type="number" class="form-control adi-none-appearance" name="sheetInputAdd" id="sheetInputAdd"
                         #sheetInputAdd="ngModel"
                         [(ngModel)]="zoningSearch.sheet" placeholder="Số tờ" [disabled]="hasResult"
                         [class]="{'is-invalid': sheetInputAdd.touched && sheetInputAdd.errors}" required/>
                  <ng-template [ngIf]="sheetInputAdd.touched && sheetInputAdd.invalid">
                    <div *ngIf="sheetInputAdd.errors?.required" class="invalid-feedback d-block">
                      Vui lòng nhập số tờ
                    </div>
                  </ng-template>
                </div>
                <div class="col-6 col-md-2 form-group">
                  <label for="parcelInputAdd">Số thửa</label>
                  <input type="number" class="form-control adi-none-appearance" name="parcelInputAdd"
                         id="parcelInputAdd" #parcelInputAdd="ngModel"
                         [(ngModel)]="zoningSearch.parcel" placeholder="Số thửa" [disabled]="hasResult"
                         [class]="{'is-invalid': parcelInputAdd.touched && parcelInputAdd.errors}" required/>
                  <ng-template [ngIf]="parcelInputAdd.touched && parcelInputAdd.invalid">
                    <div *ngIf="parcelInputAdd.errors?.required" class="invalid-feedback d-block">
                      Vui lòng nhập số thửa
                    </div>
                  </ng-template>
                </div>
                <div class="col-12 col-md-5 col-lg-6 form-group">
                  <label for="addressZoneInputAdd">Địa chỉ lô đất</label>
                  <input type="text" class="form-control" name="addressZoneInputAdd" id="addressZoneInputAdd"
                         #addressZoneInputAdd="ngModel"
                         [(ngModel)]="zoningSearch.address" placeholder="Địa chỉ lô đất" [disabled]="hasResult"
                         [class]="{'is-invalid': addressZoneInputAdd.touched && addressZoneInputAdd.errors}" required/>
                  <ng-template [ngIf]="addressZoneInputAdd.touched && addressZoneInputAdd.invalid">
                    <div *ngIf="addressZoneInputAdd.errors?.required" class="invalid-feedback d-block">
                      Vui lòng nhập địa chỉ lô đất
                    </div>
                  </ng-template>
                </div>
                <div class="col-12 col-md-3 col-lg-2 form-group">
                  <label for="wardSelectAdd">Phường/Xã</label>
                  <select name="wardSelectAdd" id="wardSelectAdd" class="custom-select" #wardSelectAdd="ngModel"
                          [(ngModel)]="zoningSearch.ward.id" required [disabled]="hasResult"
                          [class]="{'is-invalid': wardSelectAdd.touched && wardSelectAdd.value === 0}">
                    <option value="0" disabled>Chọn phường/xã</option>
                    <option *ngFor="let ward of wards" [value]="ward.id">
                      {{ward.name}}
                    </option>
                  </select>
                  <ng-template [ngIf]="wardSelectAdd.touched">
                    <div *ngIf="wardSelectAdd.value === 0" class="invalid-feedback d-block">
                      Vui lòng chọn phường/xã
                    </div>
                  </ng-template>
                </div>
                <div class="col-12">
                  <hr>
                </div>
              </div>
              <div class="row justify-content-center">
                <h1 class="text-dark h4">Danh sách tọa độ</h1>
              </div>
              <div class="d-block adi-coordinate-list-wrapper">
                <div class="row justify-content-center"
                     *ngFor="let coordinate of zoningSearch.searchCoordinates; index as index; last as last">
                  <div class="form-group mb-1 col-9 col-sm-11 row">
                    <div class="col-sm-3">
                      <label class="col-form-label float-sm-right">Tọa độ {{index + 1}}: </label>
                    </div>
                    <div class="col-sm-3 mb-1">
                      <input name="coordinateX-{{coordinate.id}}" type="number" class="form-control adi-none-appearance"
                             placeholder="1196639.09"
                             [(ngModel)]="coordinate.xcoordinate" [disabled]="hasResult" required>
                    </div>
                    <div class="col-sm-3 mb-1">
                      <input name="coordinateY-{{coordinate.id}}" type="number" class="form-control adi-none-appearance"
                             placeholder="595767.08"
                             [(ngModel)]="coordinate.ycoordinate" [disabled]="hasResult" required>
                    </div>
                    <div class="col-sm-2 col-md-1" *ngIf="!hasResult">
                      <ng-template [ngIf]="last === true" [ngIfElse]="cancelling">
                        <button class="btn btn-success form-control" (click)="addCoordinate()">
                          <i class="fas fa-plus"></i>
                        </button>
                      </ng-template>
                      <ng-template #cancelling>
                        <button class="btn btn-danger form-control" (click)="removeCoordinate(coordinate.id)">
                          <i class="fas fa-times"></i>
                        </button>
                      </ng-template>
                    </div>
                  </div>
                </div>
                <div *ngIf="!isCoordinatesValid()" class="invalid-feedback d-block text-center">
                  <p>Lưu ý: Đỉnh đầu và cuối phải giống nhau!</p>
                </div>
              </div>
              <div class="row justify-content-center" *ngIf="hasResult">
                <div class="col-12">
                  <hr>
                </div>
                <div class="col-12 text-center" *ngIf="zoningSearch.zoningSearchDetails?.length === 0">
                  <h2 class="m-0 text-danger">Toạ độ thửa đất không phù hợp</h2>
                </div>
                <div class="col-12 text-center" *ngIf="zoningSearch.zoningSearchDetails?.length > 0">
                  <h2 class="m-0">Kết quả tra cứu</h2>
                </div>
                <div class="col-6" *ngIf="zoningSearch.zoningSearchDetails?.length > 0">
                  <app-data-table [showPaging]="false" [showDetail]="false" [showEntries]="false" [dataOnly]="true">
                    <thead>
                    <tr>
                      <th>Loại quy hoạch</th>
                      <th>Diện tích</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let zoningBase of zoningSearch.zoningSearchDetails">
                      <td>{{zoningBase.zoningType.name}}</td>
                      <td>{{zoningBase.area}} m<sup>2</sup></td>
                    </tr>
                    </tbody>
                  </app-data-table>
                </div>
              </div>
              <div class="modal-footer justify-content-between flex-column-reverse flex-sm-row mt-1">
                <div class="mb-1">
                  <label id="uploadExcel" for="upload-coordinate-search" class="btn btn-info mb-0 mr-1" *ngIf="!hasResult"
                         data-toggle="tooltip" data-placement="top" title="Các tệp tin theo định dạng (xlsx, csv, xls)">
                    <i class="fas fa-upload mr-1"></i>
                    Tải tọa độ
                  </label>
                  <input type="file" name="upload-coordinate-search" id="upload-coordinate-search"
                         #uploadCoordinateSearchInput (change)="uploadCoordinate($event)" hidden/>
                  <label for="upload-image-search" class="btn btn-info mb-0 mr-1" *ngIf="!hasResult">
                    <i class="fas fa-file-image mr-1"></i>
                    Tải hình ảnh
                  </label>
                  <input type="file" name="upload-image-search" id="upload-image-search" #uploadImageSearchInput
                         disabled hidden/>
                </div>
                <div class="mb-1">
                  <button id="searchBtn" type="submit" class="btn btn-primary" [disabled]="!isValid()" *ngIf="!hasResult"
                          data-toggle="tooltip" data-placement="top" title="Vui lòng nhập đầy đủ thông tin">
                    <i class="fas fa-search mr-1"></i>
                    Tra cứu
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
