<app-modal-wrapper #addCustomerGroupModalWrapper title="Thêm nhóm khách hàng" (hideEvent)="onHideEvent()">
  <form #addCustomerGroupForm="ngForm" novalidate (submit)="onSave()" >
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="groupNameInput">Tên</label>
          <input type="text" class="form-control" name="groupNameInput" id="groupNameInput" #groupNameInput="ngModel"
                 [(ngModel)]="customerGroupFull.name" placeholder="Tên nhóm"
                 [class]="{'is-invalid': groupNameInput.touched && groupNameInput.errors}" required/>
          <ng-template [ngIf]="groupNameInput.touched && groupNameInput.invalid">
            <div *ngIf="groupNameInput.errors?.required" class="invalid-feedback d-block">
              Vui lòng nhập tên nhóm
            </div>
          </ng-template>
        </div>
      </div>
      <div class="row">
            <div class="col-sm-12 form-group">
              <div class="card">
                <div class="card-body table-responsive p-0" style="height: 200px;">
                  <table class="table table-head-fixed text-nowrap">
                    <thead>
                    <tr>
                      <th>Quyền</th>
                      <th>Mô tả</th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of permissionList">
                      <td>{{item.name}}</td>
                      <td>{{item.description}}</td>
                      <td>
                        <input type="checkbox" (input)="onCheck(item)" [value]="item">
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="modal-footer justify-content-between">
      <button (click)="hide()" type="button" class="btn btn-default">
        <i class="fas fa-times mr-1"></i>
        Đóng
      </button>
      <button type="submit" class="btn btn-primary" [disabled]="!isValid()">
        <i class="far fa-save mr-1"></i>
        Lưu
      </button>
    </div>
  </form>
</app-modal-wrapper>
