<app-modal-wrapper #addZoningInformationModalWrapper [size]="'modal-xl'" title="Tạo mới thông tin đất" (hideEvent)="onHideEvent()">
  <form #addZoningInformationForm="ngForm" novalidate (submit)="onSave()">
    <div class="modal-body">
      <div class="row">
        <!--    Owner start    -->
        <div class="col-sm-4 form-group">
          <label for="descriptionInputAdd">Tên chủ hộ</label>
          <input type="text" class="form-control" name="descriptionInputAdd" id="descriptionInputAdd" #descriptionInputAdd="ngModel"
                 [(ngModel)]="newZoningInformation.ownerName" placeholder="Tên chủ hộ" [disabled]="hasResult"
                 [class]="{'is-invalid': descriptionInputAdd.touched && descriptionInputAdd.errors}" required/>
          <ng-template [ngIf]="descriptionInputAdd.touched && descriptionInputAdd.invalid">
            <div *ngIf="descriptionInputAdd.errors?.required" class="invalid-feedback d-block">
              Vui lòng nhập tên chủ hộ
            </div>
          </ng-template>
        </div>
        <div class="col-6 col-sm-4 form-group">
          <label for="cardIdInputAdd">Chứng minh thư</label>
          <input type="text" class="form-control" name="cardIdInputAdd" id="cardIdInputAdd" #cardIdInputAdd="ngModel" [disabled]="hasResult"
                 minlength="9" [pattern]="cardIdPattern" [(ngModel)]="newZoningInformation.ownerCardId" placeholder="Chứng minh thư"
                 [class]="{'is-invalid': cardIdInputAdd.touched && cardIdInputAdd.errors}" required/>
          <ng-template [ngIf]="cardIdInputAdd.touched && cardIdInputAdd.invalid">
            <div *ngIf="cardIdInputAdd.errors?.required" class="invalid-feedback d-block">
              Vui lòng nhập CMT/CCCD
            </div>
            <div *ngIf="cardIdInputAdd.errors?.minlength || cardIdInputAdd.errors?.pattern" class="invalid-feedback d-block">
              CMT/CCCD không hợp lệ
            </div>
          </ng-template>
        </div>
        <div class="col-6 col-sm-4 form-group">
          <label>Ngày sinh</label>
          <app-date-picker [(startDate)]="newZoningInformation.ownerBirthDate" [disabled]="hasResult" parentEl="{{addZoningInformationModalWrapper.id}}" ></app-date-picker>
        </div>
        <div class="col-sm-8 form-group">
          <label for="addressInputAdd">Địa chỉ liên lạc</label>
          <input type="text" class="form-control" name="addressInputAdd" id="addressInputAdd" #addressInputAdd="ngModel"
                 [(ngModel)]="newZoningInformation.ownerAddress" placeholder="Địa chỉ đất" [disabled]="hasResult"
                 [class]="{'is-invalid': addressInputAdd.touched && addressInputAdd.errors}" required/>
          <ng-template [ngIf]="addressInputAdd.touched && addressInputAdd.invalid">
            <div *ngIf="addressInputAdd.errors?.required" class="invalid-feedback d-block">
              Vui lòng nhập địa chỉ liên lạc
            </div>
          </ng-template>
        </div>
        <div class="col-sm-4 form-group">
          <label for="phoneInputAdd">Số liên lạc</label>
          <input type="text" class="form-control" name="phoneInputAdd" id="phoneInputAdd" #phoneInputAdd="ngModel" [disabled]="hasResult"
                 minlength="10" [pattern]="phonePattern" [(ngModel)]="newZoningInformation.phoneNumber" placeholder="Số liên lạc"
                 [class]="{'is-invalid': phoneInputAdd.touched && phoneInputAdd.errors}" required/>
          <ng-template [ngIf]="phoneInputAdd.touched && phoneInputAdd.invalid">
            <div *ngIf="phoneInputAdd.errors?.required" class="invalid-feedback d-block">
              Vui lòng nhập số liên lạc
            </div>
            <div *ngIf="phoneInputAdd.errors?.minlength || phoneInputAdd.errors?.pattern" class="invalid-feedback d-block">
              Số liên lạc không hợp lệ
            </div>
          </ng-template>
        </div>
        <!--    Owner end    -->
        <div class="col-12">
          <hr>
        </div>
        <!--    Zone start    -->
        <div class="col-6 col-sm-2 form-group">
          <label for="sheetInputAdd">Số tờ</label>
          <input type="number" class="form-control adi-none-appearance" name="sheetInputAdd" id="sheetInputAdd" #sheetInputAdd="ngModel"
                 [(ngModel)]="newZoningInformation.sheet" placeholder="Số tờ" [disabled]="hasResult"
                 [class]="{'is-invalid': sheetInputAdd.touched && sheetInputAdd.errors}" required/>
          <ng-template [ngIf]="sheetInputAdd.touched && sheetInputAdd.invalid">
            <div *ngIf="sheetInputAdd.errors?.required" class="invalid-feedback d-block">
              Vui lòng nhập số tờ
            </div>
          </ng-template>
        </div>
        <div class="col-6 col-sm-2 form-group">
          <label for="parcelInputAdd">Số thửa</label>
          <input type="number" class="form-control adi-none-appearance" name="parcelInputAdd" id="parcelInputAdd" #parcelInputAdd="ngModel"
                 [(ngModel)]="newZoningInformation.parcel" placeholder="Số thửa" [disabled]="hasResult"
                 [class]="{'is-invalid': parcelInputAdd.touched && parcelInputAdd.errors}" required/>
          <ng-template [ngIf]="parcelInputAdd.touched && parcelInputAdd.invalid">
            <div *ngIf="parcelInputAdd.errors?.required" class="invalid-feedback d-block">
              Vui lòng nhập số thửa
            </div>
          </ng-template>
        </div>
        <div class="col-12 col-sm-5 form-group">
          <label for="addressZoneInputAdd">Địa chỉ lô đất</label>
          <input type="text" class="form-control" name="addressZoneInputAdd" id="addressZoneInputAdd" #addressZoneInputAdd="ngModel"
                 [(ngModel)]="newZoningInformation.address" placeholder="Địa chỉ lô đất" [disabled]="hasResult"
                 [class]="{'is-invalid': addressZoneInputAdd.touched && addressZoneInputAdd.errors}" required/>
          <ng-template [ngIf]="addressZoneInputAdd.touched && addressZoneInputAdd.invalid">
            <div *ngIf="addressZoneInputAdd.errors?.required" class="invalid-feedback d-block">
              Vui lòng nhập địa chỉ lô đất
            </div>
          </ng-template>
        </div>
        <div class="col-12 col-sm-3 form-group">
          <label for="wardSelectAdd">Phường/Xã</label>
          <select name="wardSelectAdd" id="wardSelectAdd" class="custom-select" #wardSelectAdd="ngModel"
                  [(ngModel)]="newZoningInformation.ward.id" required [disabled]="hasResult"
                  [class]="{'is-invalid': wardSelectAdd.touched && wardSelectAdd.value === 0}">
            <option value="0" disabled>Chọn phường/xã</option>
            <option *ngFor="let ward of wards" [value]="ward.id">
              {{ward.name}}
            </option>
          </select>
          <ng-template [ngIf]="wardSelectAdd.touched">
            <div *ngIf="wardSelectAdd.value === 0" class="invalid-feedback d-block">
              Vui lòng chọn phường/xã
            </div>
          </ng-template>
        </div>
        <!--    Zone end    -->
        <!--    Certificate start    -->
        <div class="col-lg-3 form-group">
          <label for="certificateSelectAdd">Giấy chứng nhận</label>
          <select name="certificateSelectAdd" id="certificateSelectAdd" class="custom-select" #certificateSelectAdd="ngModel"
                  [(ngModel)]="newZoningInformation.certificate.id" required [disabled]="hasResult"
                  [class]="{'is-invalid': certificateSelectAdd.touched && certificateSelectAdd.value === 0}">
            <option value="0" disabled>Chọn giấy chứng nhận</option>
            <option *ngFor="let certificate of certificates" [value]="certificate.id">
              {{certificate.name}}
            </option>
          </select>
          <ng-template [ngIf]="certificateSelectAdd.touched">
            <div *ngIf="certificateSelectAdd.value === 0" class="invalid-feedback d-block">
              Vui lòng chọn giấy chứng nhận
            </div>
          </ng-template>
        </div>
        <div class="col-6 col-lg-3 form-group">
          <label for="certificateNumberInputAdd">Số chứng nhận</label>
          <input type="number" class="form-control adi-none-appearance" name="certificateNumberInputAdd" id="certificateNumberInputAdd" #certificateNumberInputAdd="ngModel"
                 [(ngModel)]="newZoningInformation.certificateNumber" placeholder="Số chứng nhận" [disabled]="hasResult"
                 [class]="{'is-invalid': certificateNumberInputAdd.touched && certificateNumberInputAdd.errors}" required/>
          <ng-template [ngIf]="certificateNumberInputAdd.touched && certificateNumberInputAdd.invalid">
            <div *ngIf="certificateNumberInputAdd.errors?.required" class="invalid-feedback d-block">
              Vui lòng nhập số chứng nhận
            </div>
          </ng-template>
        </div>
        <div class="col-6 col-lg-3 form-group">
          <label>Ngày cấp</label>
          <app-date-picker [(startDate)]="newZoningInformation.certificateDate" [disabled]="hasResult" parentEl="{{addZoningInformationModalWrapper.id}}" ></app-date-picker>
        </div>
        <div class="col-sm-6 col-lg-3 form-group">
          <label for="certificateProviderInputAdd">Nơi cấp</label>
          <input type="text" class="form-control" name="certificateProviderInputAdd" id="certificateProviderInputAdd" #certificateProviderInputAdd="ngModel"
                 [(ngModel)]="newZoningInformation.certificateProvider" placeholder="Nơi cấp" [disabled]="hasResult"
                 [class]="{'is-invalid': certificateProviderInputAdd.touched && certificateProviderInputAdd.errors}" required/>
          <ng-template [ngIf]="certificateProviderInputAdd.touched && certificateProviderInputAdd.invalid">
            <div *ngIf="certificateProviderInputAdd.errors?.required" class="invalid-feedback d-block">
              Vui lòng nhập nơi cấp
            </div>
          </ng-template>
        </div>
        <!--    Certificate end    -->
        <!--    Drawing start    -->
        <div class="col-sm-6 col-lg-3 form-group">
          <label for="drawingTypeSelectAdd">Loại bản vẽ</label>
          <select name="drawingTypeSelectAdd" id="drawingTypeSelectAdd" class="custom-select" #drawingTypeSelectAdd="ngModel"
                  [(ngModel)]="newZoningInformation.drawingType.id" required [disabled]="hasResult"
                  [class]="{'is-invalid': drawingTypeSelectAdd.touched && drawingTypeSelectAdd.value === 0}">
            <option value="0" disabled>Chọn loại bản vẽ</option>
            <option *ngFor="let drawingType of drawingTypes" [value]="drawingType.id">
              {{drawingType.name}}
            </option>
          </select>
          <ng-template [ngIf]="drawingTypeSelectAdd.touched">
            <div *ngIf="drawingTypeSelectAdd.value === 0" class="invalid-feedback d-block">
              Vui lòng chọn loại bản vẽ
            </div>
          </ng-template>
        </div>
        <div class="col-4 col-lg-3 form-group">
          <label for="drawingNumberInputAdd">Số bản vẽ</label>
          <input type="number" class="form-control adi-none-appearance" name="drawingNumberInputAdd" id="drawingNumberInputAdd" #drawingNumberInputAdd="ngModel"
                 [(ngModel)]="newZoningInformation.drawingNumber" placeholder="Số bản vẽ" [disabled]="hasResult"
                 [class]="{'is-invalid': drawingNumberInputAdd.touched && drawingNumberInputAdd.errors}" required/>
          <ng-template [ngIf]="drawingNumberInputAdd.touched && drawingNumberInputAdd.invalid">
            <div *ngIf="drawingNumberInputAdd.errors?.required" class="invalid-feedback d-block">
              Vui lòng nhập số bản vẽ
            </div>
          </ng-template>
        </div>
        <div class="col-4 col-lg-3 form-group">
          <label for="drawingUnitInputAdd">Đơn vị</label>
          <input type="text" class="form-control" name="drawingUnitInputAdd" id="drawingUnitInputAdd" #drawingUnitInputAdd="ngModel"
                 [(ngModel)]="newZoningInformation.drawingUnit" placeholder="Đơn vị" [disabled]="hasResult"
                 [class]="{'is-invalid': drawingUnitInputAdd.touched && drawingUnitInputAdd.errors}" required/>
          <ng-template [ngIf]="drawingUnitInputAdd.touched && drawingUnitInputAdd.invalid">
            <div *ngIf="drawingUnitInputAdd.errors?.required" class="invalid-feedback d-block">
              Vui lòng nhập đơn vị
            </div>
          </ng-template>
        </div>
        <div class="col-4 col-lg-3 form-group">
          <label>Ngày cấp</label>
          <app-date-picker [(startDate)]="newZoningInformation.drawingDate" [disabled]="hasResult" parentEl="{{addZoningInformationModalWrapper.id}}" ></app-date-picker>
        </div>
        <!--    Drawing end    -->
      </div>
      <div class="row justify-content-center">
        <h1 class="text-dark h4">Danh sách tọa độ</h1>
      </div>
      <div class="d-block adi-coordinate-list-wrapper">
        <div class="row justify-content-center " *ngFor="let coordinate of newZoningInformation.informationCoordinates; index as index; last as last">
          <div class="form-group mb-1 col-9 col-sm-11 row">
            <div class="col-sm-2">
              <label class="col-form-label float-sm-right">Tọa độ {{index + 1}}: </label>
            </div>
            <div class="col-sm-4 mb-1">
              <input name="coordinateX-{{coordinate.id}}" type="number" class="form-control adi-none-appearance" placeholder="1196639.09"
                     [(ngModel)]="coordinate.xcoordinate" [disabled]="hasResult" required>
            </div>
            <div class="col-sm-4 mb-1">
              <input name="coordinateY-{{coordinate.id}}" type="number" class="form-control adi-none-appearance" placeholder="595767.08"
                     [(ngModel)]="coordinate.ycoordinate" [disabled]="hasResult" required>
            </div>
            <div class="col-sm-2 col-lg-1" *ngIf="!hasResult">
              <ng-template [ngIf]="last === true" [ngIfElse]="cancelling">
                <button class="btn btn-success form-control" (click)="addCoordinate()">
                  <i class="fas fa-plus"></i>
                </button>
              </ng-template>
              <ng-template #cancelling>
                <button class="btn btn-danger form-control" (click)="removeCoordinate(coordinate.id)">
                  <i class="fas fa-times"></i>
                </button>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!hasResult" class="invalid-feedback d-block text-center">
        Lưu ý: Đỉnh đầu và đỉnh cuối phải khớp nhau
      </div>
      <div class="row justify-content-center" *ngIf="hasResult">
        <hr class="col">
        <div class="col-12 text-center">
          <h2 class="m-0">Kết quả tra cứu</h2>
        </div>
        <div class="col-sm-8">
          <app-data-table [showPaging]="false" [showDetail]="false" [showEntries]="false" [dataOnly]="true">
            <thead>
            <tr>
              <th>Loại quy hoạch</th>
              <th>Diện tích</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let zoningBase of newZoningInformation.zoningInformationDetails">
              <td>{{zoningBase.zoningType.name}}</td>
              <td>{{zoningBase.area}} m<sup>2</sup></td>
            </tr>
            </tbody>
          </app-data-table>
        </div>
      </div>
    </div>
    <div class="modal-footer justify-content-between flex-column-reverse flex-sm-row">
      <div>
        <button (click)="hide()" type="button" class="btn btn-default">
          <i class="fas fa-times mr-1"></i>
          Đóng
        </button>
      </div>
      <div *ngIf="!hasResult">
        <label for="upload-coordinate-add" class="btn btn-info mb-0 mr-1">
          <i class="fas fa-upload mr-1"></i>
          Tải tọa độ
        </label>
        <input type="file" name="upload-coordinate-add" id="upload-coordinate-add" #uploadCoordinateAddInput (change)="uploadCoordinate($event)" hidden />
        <button type="submit" class="btn btn-primary" [disabled]="!isValid()">
          <i class="far fa-save mr-1"></i>
          Lưu
        </button>
      </div>
    </div>
  </form>
</app-modal-wrapper>
