<app-modal-wrapper #updateZoningBaseModalWrapper title="Cập nhật quy hoạch" (hideEvent)="onHideEvent()">
  <form #updateZoningBaseForm="ngForm" novalidate (submit)="onSave()">
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-8 form-group">
          <label for="descriptionInputUpdate">Mô tả</label>
          <input type="text" class="form-control" name="descriptionInputUpdate" id="descriptionInputUpdate" #descriptionInputUpdate="ngModel"
                 [(ngModel)]="updatingZoningBase.description" placeholder="Mô tả quy hoạch"
                 [class]="{'is-invalid': descriptionInputUpdate.touched && descriptionInputUpdate.errors}" required/>
          <ng-template [ngIf]="descriptionInputUpdate.touched && descriptionInputUpdate.invalid">
            <div *ngIf="descriptionInputUpdate.errors?.required" class="invalid-feedback d-block">
              Vui lòng nhập mô tả
            </div>
          </ng-template>
        </div>
        <div class="col-sm-4 form-group">
          <label for="wardSelectUpdate">Phường/Xã</label>
          <select name="wardSelectUpdate" id="wardSelectUpdate" class="custom-select" #wardSelectUpdate="ngModel"
                  [(ngModel)]="updatingZoningBase.ward.id" required
                  [class]="{'is-invalid': wardSelectUpdate.touched && wardSelectUpdate.value === 0}">
            <option value="0" disabled>Chọn phường/xã</option>
            <option *ngFor="let ward of wards" [value]="ward.id">
              {{ward.name}}
            </option>
          </select>
          <ng-template [ngIf]="wardSelectUpdate.touched">
            <div *ngIf="wardSelectUpdate.value === 0" class="invalid-feedback d-block">
              Vui lòng chọn phường/xã
            </div>
          </ng-template>
        </div>
      </div>
      <div class="row justify-content-center">
        <h1 class="text-dark h4">Danh sách tọa độ</h1>
      </div>
      <div class="d-block adi-coordinate-list-wrapper">
        <div class="row justify-content-center" *ngFor="let coordinate of updatingZoningBase.baseCoordinates; index as index; last as last">
          <div class="form-group mb-1 col-9 col-sm-11 row">
            <div class="col-sm-2">
              <label class="col-form-label float-sm-right">Tọa độ {{index + 1}}: </label>
            </div>
            <div class="col-sm-4 mb-1">
              <input name="coordinateX-{{coordinate.id}}" type="number" class="form-control adi-none-appearance" placeholder="595767.08"
                     [(ngModel)]="coordinate.xcoordinate" required>
            </div>
            <div class="col-sm-4 mb-1">
              <input name="coordinateY-{{coordinate.id}}" type="number" class="form-control adi-none-appearance" placeholder="1196639.09"
                     [(ngModel)]="coordinate.ycoordinate" required>
            </div>
            <div class="col-sm-2 col-lg-1">
              <ng-template [ngIf]="last === true" [ngIfElse]="cancelling">
                <button class="btn btn-success form-control" (click)="addCoordinate()">
                  <i class="fas fa-plus"></i>
                </button>
              </ng-template>
              <ng-template #cancelling>
                <button class="btn btn-danger form-control" (click)="removeCoordinate(coordinate.id)">
                  <i class="fas fa-times"></i>
                </button>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="true" class="invalid-feedback d-block text-center">
        Lưu ý: Đỉnh đầu và đỉnh cuối phải khớp nhau
      </div>
    </div>
    <div class="modal-footer justify-content-between">
      <div>
        <button (click)="hide()" type="button" class="btn btn-default">
          <i class="fas fa-times mr-1"></i>
          Đóng
        </button>
      </div>
      <div>
        <label for="upload-coordinate-update" class="btn btn-info mb-0 mr-1">
          <i class="fas fa-upload mr-1"></i>
          Tải tọa độ
        </label>
        <input type="file" name="upload-coordinate-update" id="upload-coordinate-update" #uploadCoordinateUpdateInput (change)="uploadCoordinate($event)" hidden />
        <button type="submit" class="btn btn-primary" [disabled]="!isValid()">
          <i class="far fa-save mr-1"></i>
          Lưu
        </button>
      </div>
    </div>
  </form>
</app-modal-wrapper>
