<app-modal-wrapper [size]="'modal-sm'" #addViolateOtherDocumentModalWrapper title="Các văn bản khác">
  <form>
    <div class="modal-body">
      <div>
        <div>
          <button (click)="onExportPLFile($event)" class="col-12 btn btn-secondary mb-2">
            Phiếu phân loại
          </button>
          <button (click)="onExportKSFile($event)" class="col-12 btn btn-secondary mb-2">
            Phiếu ISO
          </button>
          <button (click)="onExportTMBNFile($event)" class="col-12 btn btn-secondary mb-2">
            Thư mời Uỷ ban phường
          </button>
          <button (click)="onExportTMCDTFile($event)" class="col-12 btn btn-secondary">
            Thư mời Chủ đầu tư
          </button>
        </div>
      </div>
    </div>
    <div class="modal-footer justify-content-between">
      <button (click)="addViolateOtherDocumentModalWrapper.hide()" type="button" class="btn btn-default">
        <i class="fas fa-times mr-1"></i>
        Đóng
      </button>
    </div>
  </form>
</app-modal-wrapper>
