<app-modal-wrapper [size]="'modal-md'" #addFeedbackViolateModalWrapper title="Phản hồi yêu cầu xử lý vi phạm">
  <form #addFeedbackViolateForm="ngForm" novalidate (submit)="onSave()">
    <div class="modal-body">
      <div>
        <label for="employee-request-name">Người nhận</label>
        <input type="text" class="form-control" id="employee-request-name" name="employee-request-name" [(ngModel)]="constructionViolate.employeeRequest.fullName" disabled/>
      </div>
      <br>
      <div>
        <label for="commentInputAdd">Nội dung</label>
        <textarea type="text" class="form-control" name="commentInputAdd" id="commentInputAdd"
                  #commentInputAdd="ngModel"
                  [(ngModel)]="feedbackViolate.comment" placeholder="Nội dung"
                  [class]="{'is-invalid': commentInputAdd.touched && commentInputAdd.errors}"
                  required style="min-height: 120px">
                    </textarea>
        <ng-template [ngIf]="commentInputAdd.touched && commentInputAdd.invalid">
          <div *ngIf="commentInputAdd.errors?.required" class="invalid-feedback d-block">
            Vui lòng nội dung phản hồi
          </div>
        </ng-template>
      </div>
    </div>
    <div class="modal-footer justify-content-between">
      <div>
        <button (click)="addFeedbackViolateModalWrapper.hide()" type="button" class="btn btn-default">
          <i class="fas fa-times mr-1"></i>
          Đóng
        </button>
      </div>
      <div>
        <button type="submit" class="btn btn-primary" [disabled]="!isValid()">
          <i class="fas fa-file mr-1"></i>
          Gửi
        </button>
      </div>
    </div>
  </form>
</app-modal-wrapper>
