<app-modal-wrapper [size]="'modal-md'" #viewFeedbackViolateModalWrapper title="Phản hồi yêu cầu xử lý vi phạm">
  <form *ngIf="feedbackViolate !== null">
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-6 form-group">
          <label for="employee-feedback-name">Người gửi</label>
          <input type="text" class="form-control" id="employee-feedback-name" name="employee-feedback-name" [(ngModel)]="feedbackViolate.employeeFeedback.fullName" disabled/>
        </div>
        <div class="col-sm-6 form-group">
          <label>Ngày gửi</label>
          <app-date-picker [startDate]="feedbackViolate.createdDate" [disabled]="true"></app-date-picker>
        </div>
      </div>
      <div class="form-group">
        <label for="commentInputAdd">Nội dung</label>
        <textarea type="text" class="form-control" name="commentInputAdd" id="commentInputAdd"
                  [(ngModel)]="feedbackViolate.comment"
                  disabled style="min-height: 120px">
        </textarea>
      </div>
    </div>
    <div class="modal-footer justify-content-between">
      <div>
        <button (click)="viewFeedbackViolateModalWrapper.hide()" type="button" class="btn btn-default">
          <i class="fas fa-times mr-1"></i>
          Đóng
        </button>
      </div>
    </div>
  </form>
  <div *ngIf="feedbackViolate === null" class="modal-body">
    <div class="row">
      <div class="col">Không có phản hồi nào.</div>
    </div>
  </div>
</app-modal-wrapper>
