<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 font-weight-bold text-gray-dark">QUẢN LÝ KHÁCH HÀNG</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
          <li class="breadcrumb-item active">Quản lý khách hàng</li>
        </ol>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <app-data-table #dataTableCustomer [dataTable]="search" (changeEvent)="onChangeDataEvent($event)">
              <thead>
              <tr>
                <th>Họ tên</th>
                <th>Ngày sinh</th>
                <th>Số liên lạc</th>
                <th>Email</th>
                <th>Loại tài khoản</th>
                <th>Trạng thái</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let e of search.result">
                <td>{{e.fullName}}</td>
                <td>{{e.birthDate | date:'dd/MM/yyyy'}}</td>
                <td>{{e.phone}}</td>
                <td>{{e.email}}</td>
                <td>{{e.customerGroup.name}}</td>
                <td>{{e.isActive == true ? 'Đang hoạt động' : 'Vô hiệu hoá'}}</td>
                <td>
                  <app-dropdown-menu>
                    <a class="dropdown-item text-cyan" href="#" (click)="infoCustomerComponent.show(e, $event)">
                      <i class="fas fa-info-circle"></i>
                      Thông tin chi tiết
                    </a>
                    <a class="dropdown-item text-red" href="#" (click)="openUpdateStatusModal(e, $event, true)" *ngIf="e.isActive == true; else unlockBtn" >
                      <i class="fas fa-lock mr-1"></i>
                      Khóa tài khoản
                    </a>
                    <ng-template #unlockBtn>
                      <a class="dropdown-item text-green" href="#" (click)="openUpdateStatusModal(e, $event, false)" *ngIf="e.isActive == false;" >
                        <i class="fas fa-unlock mr-1"></i>
                        Mở khoá tài khoản
                      </a>
                    </ng-template>
                  </app-dropdown-menu>
                </td>
              </tr>
              </tbody>
            </app-data-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-info-customer #infoCustomerComponent></app-info-customer>
